@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Space Mono", monospace;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: black;
  padding: 15px;
}

#name {
  color: white;
  margin: 0;
  font-size: 24px;
}

header a {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 20px;
}

header a:hover {
  text-decoration: underline;
}

#image {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question {
  font-size: 30px;
  padding-top: 10px;
}

#display {
  font-size: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#image {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  object-fit: contain;
  object-position: center;
}

#missionName {
  font-size: 30px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}
