<!doctype html>
<html lang="en">
    <head>
        <title>Favorite Galaxy</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <%- include("header") %>

        <div id="display"><%= stats %> other people have listed&nbsp;
            <strong> the <%= name %> galaxy</strong>
            &nbsp;as their favorite too!</div>
    </body>
</html>