<!doctype html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
       <%- include("header") %>
       <div id="missionName">SpaceX <%= name %> Mission</div>
       <img id="image" src="<%= image %>">
    </body>
</html>